h1{
    width:fit-content;
    display:inline;
  
}
h2{
    width: fit-content;
    display: inline;
    padding-bottom: 

}
h3{
    width: fit-content;
    display: inline;
    padding-bottom: ;
}
h4{
    width: fit-content;
    display: inline;
    padding-bottom: ;
}
.loun{
    color: aqua;
}
    